.table {
  border: 1px solid black;
  th {
    background-color: var(--gray-10);
  }
  th,
  td {
    border: 1px solid black;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    &:first-child {
      width: 200px;
    }
    &:last-child {
      width: 300px;
    }
  }
}
