:root {
  // review

  --real-black: #000;
  --real-black-rgb: 0, 0, 0;

  --gray-100: var(--real-black);
  --gray-100-rgb: var(--real-black-rgb);

  --gray-50: #9a9a9a;
  --gray-50-rgb: 154, 154, 154;

  --gray-20: #cdcdcd;
  --gray-20-rgb: 205, 205, 205;

  --gray-10: #e8e8e8;
  --gray-10-rgb: 232, 232, 232;

  --bluegray-10: #f7f9fb;
  --bluegray-10-rgb: 247, 249, 251;

  --cool-gray-10: #f2f4f6;
  --cool-gray-10-rgb: 242, 244, 246;

  --cool-gray-20: #e5e8eb;
  --cool-gray-20-rgb: 229, 232, 235;

  --cool-gray-30: #b0b8c1;
  --cool-gray-30-rgb: 176, 184, 193;

  --cool-gray-40: #8b95a1;
  --cool-gray-40-rgb: 139, 149, 161;

  --cool-gray-50: #6b7684;
  --cool-gray-50-rgb: 107, 118, 132;

  --whitegray-30: #fcfcfc;
  --whitegray-30-rgb: 252, 252, 252;

  --whitegray-70: #f7f7f7;
  --whitegray-70-rgb: 247, 247, 247;

  --whitegray-90: #f9f9f9;
  --whitegray-90-rgb: 249, 249, 249;

  --blue-60: #93c8fb;
  --blue-60-rgb: 147, 200, 251;

  --blue-100: #4ba4f8;
  --blue-100-rgb: 75, 164, 248;

  --red-100: #eb0f36;
  --red-100-rgb: 235, 15, 54;

  --white: #fff;
  --white-rgb: 255, 255, 255;

  --shadow: 2px 3px 25px 0 rgba(var(--real-black-rgb), 0.1);
}
