.Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .eye {
    transition: all 0.2s ease-in-out;
  }

  svg {
    shape-rendering: geometricprecision;
  }

  &:hover {
    .eye {
      transform: translate(-1.5px, -0.5px);
    }
  }

  .text {
    margin-top: -2px;
  }
}
